* {
    /* resset the user style sheet */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* *Making primary varibales */
:root {}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #111111;
    color: white;
    
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    color: white;
    line-height: 1.8rem;
}

a {
    /* border: 1px solid red; */
    text-decoration: none;
    display: inline-block;
}
i{
    cursor: pointer;
}

ul {
    list-style: none;
}

/* utility classes */
.container {
    /* border: 1px solid red; */
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 20px;
    /* overflow:hidden; */
    gap: 40px;


}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: #ffffff;
}

.hover-link:hover {
    color: #EB4149;
    transition: 02s ease-out;
}

.primary-button {
    background-image: linear-gradient(to right, #EB4149, #eb414936);
    border-radius: 6px;
    /* font-weight: 700; */
    color: #ffffff;
    padding: 10px 16px;

}

/* img{
    width: 10%;
} */

/* NavBar */


.main-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid #1d1b21;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
     transition: top 0.3s;
}
.main-nav.scrolled{
	top:-100px;
}


.company-logo img {
    width: 100px;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: start;
    gap: 40px;
}

.search {
    /* border: 1px solid #343232; */
    background-color: #1B1A1A;
    height: 30px;
    border-radius: 20px;
    padding: 10px;
    gap: 10px;
}

.search .input input {
    background-color: #1B1A1A;
    border: none;
    color: #ffffff;
    outline: none;
    font-family: 'Poppins', sans-serif;
    ;
}

.add {
    gap: 15px;
}
.cart{
    position: relative;
}
.cartAmount{
    /* border: 1px solid saddlebrown; */
    position: absolute;
    top: 18px;
    right: -18px;
    color: #cac4c4;
    /* font-size: 18px; */
    background-color: red;
    border-radius:4px;
}
/* cards Fillter section */



/* cards Popular Products section */

.cards-section {
	flex-direction: column;
    align-items: flex-end;
    padding-left: 40px;
}

.cards-section .container.text h1 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.cards-section .container.text h1 span {
    font-size: 2.5rem;
    background-image: linear-gradient(to right, #EB4149, #422222);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}

.card-container{
    display: grid;
	grid-template-columns: repeat(4, 250px);
	justify-content: center;
	gap:40px;
   
}
.card-container .card {
    position: relative;
    background-color: #232323;
    width: 100%;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;
}

 .card-container .card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(147 147 147 / 10%);
    clip-path: polygon(100% 0, 20% 0, 100% 82%);
    transition: ease-in-out 0.5s;
}

 .card-container .card:hover::before {
    clip-path: polygon(100% 0, 0 0, 100% 38%);
}

 .card-container .card .imgBox img {
    position: absolute;
    width: 270px;
    top: 10%;
    right: 0;
    transform: rotate(-25deg) rotateY(180deg);
    display: none;
}

 .card-container .card .imgBox {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

 .card-container .card:hover .imgBox {
    top: -15%;
}

 .card-container .card .contentBox {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

 .card-container .card:hover .contentBox {
    height: 230px;
}

 .card-container .card .contentBox h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
   
}

 .card-container .card .contentBox .size,
 .card-container .card .contentBox .colour,
 .card-container .card .contentBox .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

 .card-container .card:hover .contentBox .size,
 .card-container .card:hover .contentBox .colour,
 .card-container .card:hover .contentBox .price {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

 .card-container .card .contentBox .size h3,
 .card-container .card .contentBox .colour h3,
 .card-container .card .contentBox .price h3 {
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

 .card-container .card .contentBox .size input {
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    display: inline-block;
    background: #ffffff;
    color: #111111;
    border-radius: 5px;
    margin: 0 5px;
    transition: 0, 5s;
}

 .card-container .card .contentBox .size input:hover {
    background: #EB4149;
    color: #ffffff;
    cursor: pointer;
}

.card-container .card .contentBox .colour span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    font-size: 0;
}



 .card-container .card:hover .contentBox a {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: 0.5s;
}

 .card-container .card .contentBox a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background: #ffffff;
    border-radius: 4px;
    margin-top: 10px;
    font-weight: 600;
    color: #111111;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}
aside {
	padding: 0 0 16px 30px;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    height: 90vh;
	margin-top:30px;
}
.aside-container{
position: relative;
width: 235px;
padding: 20px 16px;
background-color: #a1a0a005;
border-radius: 30px;
		
		
}

aside .hr::before {
	content: "";
	position: absolute;
	width: 90%;
	left: 5%;
	/* top: 0%; */
	height: 1px;
	background-color: #ffffff;
	opacity: 0.25;
}

aside::-webkit-scrollbar {
	width: 10px; /* Width of the scrollbar */
}

aside::-webkit-scrollbar-track {
	background: #111111; /* Background color of the track */
	border-radius: 5px;
}

aside::-webkit-scrollbar-thumb {
	background: #888; /* Color of the scrollbar handle */
	border-radius: 5px; /* Rounded corners of the handle */
}

aside::-webkit-scrollbar-thumb:hover {
	background: #555; /* Color of the handle on hover */
}

.wall {
	display: flex;
	margin-top:85px;
	gap: 10px;
}

.accordian p {
	font-size: 1rem;
	color: white;
	font-weight: 100;
}

.acc-content-input {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-block: 10px;
}

.acc-content-checkbox {
	position: relative;
}

.acc-content-input i {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4px;
	padding: 3px;
	width: 20px;
	height: 20px;
	color: #ffffff;
	z-index: 1111;
}

.acc-content-checkbox :hover {
	background-color: transparent;
	border: none;
}

.acc-content-input input {
	position: relative;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-color: #ffffff;
	border: 1px solid gray;
	border-radius: 4px;
	z-index: 9999;
}

.acc-content-input .genderfilltermale, .acc-content-input .genderfillterfemale, .acc-content-input .pricefillter1,
	.acc-content-input .pricefillter2, .acc-content-input .pricefillter3 , .acc-content-input .sale {
	background-color: transparent;
	border: none;
}

.acc-content-input label {
	color: white;
	font-size: 0.9rem;
	cursor: pointer;
}

.acc-content .btnpair {
	display: flex;
	gap: 10px;
	margin-top: 10px;
}

.acc-content .btnpair input {
	width: 60px;
	height: 36px;
	margin-block: 5px;
	border: 1px solid #363636;
	border-radius: 5px;
	background-color: transparent;
	cursor: pointer;
	font-size: 1rem;
	color: white;
}

.acc-content .btnpair .getStyle7 {
	border: 1px solid #ffffff;
}

.acc-content .btnpair .getStyle8 {
	border: 1px solid #ffffff;
}

.acc-content .btnpair .getStyle9 {
	border: 1px solid #ffffff;
}

.acc-content .btnpair .getStyle10 {
	border: 1px solid #ffffff;
}

.acc-content .btnpair input:hover {
	border: 1px solid #ffffff;
}

.acc-content .btnpair .special {
	border: 1px solid #ffffff;
}

.accordian .acc-content .round {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: orange;
	margin-left: 10px;
}











.acc-content .color {
	text-align: center;
	margin-block: 10px;
	position: relative;
}

.acc-content .color input {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

.acc-content .color:hover p {
	color: gray;
}

.acc-content .color p {
	font-size: 0.8rem;
}

.accordian .colors {
	display: grid;
	grid-template-columns: repeat(3, 50px);
	gap: 5px;
}

.color:nth-child(1) .round {
	background-color: orange;
}

.color:nth-child(2) .round {
	background-color: blue;
}

.color:nth-child(3) .round {
	background-color: yellow;
}

.color:nth-child(4) .round {
	background-color: green;
}

.color:nth-child(5) .round {
	background-color: red;
}

.color:nth-child(6) .round {
	background-color: purple;
}

.colors .spacer {
	height: 30px;
}
.card-container .card .contentBox .danger{
	 color: #e65959;
	 font-size:1rem; 
	 line-height: 1rem;
}
.card-container .card .contentBox .size .size-border {
	gap:10px;
	margin-left: 5px;
	
}
.card-container .card .contentBox .size .getsize {
	border: 2px solid #e65959;
    border-radius: 5px;
      
}

.card-container .card .contentBox .size input {
	width: 25px;
	height: 25px;
	text-align: center;
	line-height: 25px;
	font-size: 14px;
	display: inline-block;
	background: #ffffff;
	color: #111111;
	border-radius: 5px;
	margin:0;
	transition: 0, 5s; 
	border: none;
}

.card-container .card .contentBox .size input:hover {
	background: #EB4149;
	color: #ffffff;
	cursor: pointer;
}

.card-container .card .contentBox .size input.Ssize, .card-container .card .contentBox .size input.Msize,
	.card-container .card .contentBox .size input.Lsize, .card-container .card .contentBox .size input.Xsize
	{
	background: #EB4149;
	color: #ffffff;
}

.size .size-cross {
	position: relative;
	display: inline-block;
}

.card-container .card .contentBox .size .size-cross input {
	background-color: #9c9c9cbf;
}

.size .size-cross i {
	position: absolute;
	left: 0;
	color: #c3312b;
	font-size: 1.6rem;
	width: 25px;
	height: 25px;
}

.card-container .card .contentBox .addcart {
	display: inline-block;
	text-decoration: none;
	padding: 10px 20px;
	background: #ffffff;
	border-radius: 4px;
	margin-top: 10px;
	font-weight: 600;
	color: #111111;
	opacity: 0;
	transform: translateY(50px);
	transition: 0.5s;
	border: none;
	cursor: pointer;
	font-size: 1rem;
}

.card-container .card:hover .contentBox .addcart {
	opacity: 1;
	transform: translateY(0px);
	transition-delay: 0.5s;
}


.card-container .card .contentBox .colour span.selected{
	border: 1px solid white;
}
.card-container .card .contentBox .colour .cyan{
	background: #16ac98;
}
.card-container .card .contentBox .colour .orange{
	background: #f47208;
}
.card-container .card .contentBox .colour .yellow {
	background: #ecf802;
}
.card-container .card .contentBox .colour .black {
	background: black;
}
.card-container .card .contentBox .colour .blue {
	background: blue;
}
.card-container .card .contentBox .colour .brown {
	background: brown;
}
.card-container .card .contentBox .colour .red {
	background: red;
}
.card-container .card .contentBox .colour .green {
	background: green;
}
.card-container .card .contentBox .colour .purple {
	background: purple;
}
.card-container .card .contentBox .colour .pink {
	background: pink;
}

.card-container .card .imgBox img {
    position: absolute;
    width: 270px;
    top: 10%;
    right: 0;
    transform: rotate(-25deg) rotateY(180deg);
    display: none;
}
.card-container .card .imgBox .mainImg  {
	display:block;
}
.card-container .card .contentBox .size input.selectedSize{
	background: #EB4149;
	color: #ffffff;
}

.msg {
	position:relative;
	top: 95px;
	left:30%;
	height: 50px;
	width:48%;
	background-color: #6a67674a;
    backdrop-filter: blur(5px);
    border-radius:30px;
    height: 30px;
}

.danger1{
    color: #e65959;
    font-size: 1rem;
    text-align: center;
}
.product-submit-btn{
	position: relative;
       width: 100%;
    height: 180px;
    z-index: 9;
    cursor: pointer;
    opacity: 0;
    }
.buttons  {
	position: relative;
	bottom: 15px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	gap: 10px;
}

.quantity {
	position: relative;
	top: -5px;
	left: 45%;
	width: 25px;
	height: 25px;
	/* border: 2px solid white; */
	background-color: red;
	border-radius: 5px;
	padding: 4px;
}

.buttons .quantity{
   position: relative;
	top: -8px;
	left: 45%;
	width: 25px;
	height: 25px;
	/* border: 2px solid white; */
	background-color: red;
	border-radius: 5px;
	padding: 4px;
    
}
.stock {
	position: relative;
	bottom: 10px;
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.75);
	line-height: 1.8rem;
}

/*Fillter products section*/


.accordian {
	
    padding:12px 4px;
    
    
}

.footwear {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.icon {
	margin-right: 16px;
	transition: transfrom 0.2s;
}

.icon.active {
	transform: rotate(-180deg);
}

.acc-content {
	color: #666;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s;
	display:flex;
	flex-direction:column;
}


/* footer */
.footer{
    background-color: #0b0b0b74;
}
.footer .footer-bx .content{
    /* border: 1px solid yellow; */
    /* padding: 40px; */
    height: 300px;
    justify-content: space-evenly;
}
.content h3{
    margin-bottom: 15px;
} 

.content a{
    display: block;
    color: white;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.75);
    margin-block:10px ;
}
hr{
    border: 1px solid rgb(162, 162, 162);
}
.footer-bx {
    height: 300px;
}
.footer-bx .content .box1 {
    position: relative;
    bottom: 20px;
    /* border: 1px solid rebeccapurple; */
    width: 300px;
}
.footer-bx .box1 img {
    width: 80px;
    /* height: 100px; */
}
.footer-bx .box1 p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.75);
    margin-top: 10px;
    text-align: start;
}
.icon-container .icon-bx{
    padding: 5px;
}
.footer .footer-bx .content .box1 .icon-container{
    gap:10px
}
.footer .footer-bx .content .box{
    /* border: 1px solid red; */
}

.hr{
    border:1px solid #212121c4; 
}
.footer  p{
    font-size: 0.8rem;
    text-align: center;
}
.popup {
	    border: 1px solid white;
    background-color: #6262622e;
    width: 390px;
    height: 290px;
    border: 30px;
    border-radius: 30px;
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 999;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.popup-animation {
    opacity: 1;
    visibility: visible;
    top: 100px;
}

.popup-container {
	margin-top: 10px;
}

.popup-top {
	justify-content: space-between;
	margin-bottom: 20px;
}

.popup-top-img {
	gap: 15px;
}

.popup-top p {
	font-size: 1.2rem;
}

.popup-content {
	gap: 20px;
	margin-bottom: 20px;
}

.popup-text p {
	font-size: 1rem;
	line-height: 1.5rem;
}

.popup-text p:nth-child(2), .popup-text p:nth-child(3) {
	color: gray;
}

.popup-btn {
	justify-content: space-between;
}

.popup-btn-input {
	width: 170px;
	height: 58px;
	border-radius: 60px;
	border: 1px solid #363636;
	background-color: #111111;
	color: #ffffff;
	font-size: 1.2rem;
	/* font-weight: 600; */
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
}

.popup-btn-input:hover {
	border: 1px solid #ffffff;
}

.popup-btn-input:nth-child(2):hover {
	background-color: #7d7d7d;
}

.popup-btn-input:nth-child(2) {
	background-color: #fffffff0;
	border: none;
	color: #000000;
}





.sort{
      position: sticky;
    right:70px;
    top: 0;
    justify-content: center;
    gap: 20px;
    z-index: 99;
    background-color: #1b1a1ae3;
    border-radius: 8px;
	margin-bottom:3px;
	padding-inline:20px;
}
.dropdown{

}
.select{
background: transparent;
align-items: center;
justify-content:flex-end;
gap:8px;
padding: 5px;
border-radius:5px;
cursor:pointer;
transition:background 0.3s;
width:fit-content;
}

.select-clicked{
border:2px #26489a solid;
box-shadow:0 0 0.8em #26489a;
}

.caret{
	transition:0.3s;
	
}
.caret-rotate{
	transform:rotate(-180deg);
}
.menu{
background: #1a1919;

box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
border-radius:20px;
color:#ffffff;
position: absolute;
top:30px;
right:20px;
text-align:right;
max-height:0;
transition:max-height 0.2s;
overflow:hidden;
z-index:9999;
width:max-content;    

}
.menu li{
	
	
	border-radius:5px;
	    line-height: 1.4;
    cursor: pointer;
}
.menu li:hover{
	color:gray;
}
.menu-items{
	padding: 15px;
	flex-direction: column;
	align-items: end;
}
.menu-items input{
background: transparent;
color:white;
border:none;
font-size:1rem;
line-height: 1.4;
cursor: pointer;
}
.menu-items input:hover{
	color:gray;
}
.menu-items .Featured, .menu-items .Newest, .menu-items .HighLow, .menu-items .LowHigh{
color:gray;
}

.active{
	color:gray;
}
.hide{
gap:10px;
cursor: pointer;
}
.hide p{
	font-size:1rem;
	line-height: 1rem;
}
.aside-hide{
	transform: translate(-270px, 10px);
    transition-property: transform;
    transition-duration: 2.2s;
    transition-timing-function: linear;
}
.cards-section {
	flex-direction: column;
    align-items: flex-end;
    padding-left: 40px;
   
  	
}
.wall{
   transition: transform 0.5s linear;
	transform-origin: top right;
}
.container-zoom{
    transform: scale(1.2);
 	
}
.footer{
position: relative;
top:0;
transition: top 0.5s linear;
transform-origin: top right;

}
 
.details{
	    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 30px;
     padding-inline: 60px;
    padding-block: 20px;
    background: #42424263;
    border-radius: 20px;
    width:500px;
    backdrop-filter: blur(3px);
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    visibility:hidden;
	transition: opacity 0.3s, transform 0.3s;
}
.details-zoom-in {
    transform: translate(-50%, -50%) scale(1); 
   
}

 .info {
justify-content: space-between;
}
.info h2{
    font-size: 36px;
    color: #a3a3a3;
    font-weight: 500;

}
.info p{
    color: #afafaf;
    font-size: 16px;
    
}
.close-icon{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 4px;
    
}
.close-icon:hover{
    opacity: 0.7;
    background-color: #ffffff1c;
}
button{
 background: #cccccc1c;
 border:none;
 outline:none;
 display: flex;
 align-items:center;
 gap:10px;
 justify-content: center;
 color:#fff;
 font-size:14px;
 border-radius:10px;
 letter-spacing: .01em;
 line-height: 18px;
 padding: 10px 20px 10px 15px;
 cursor: pointer;
}

.google-btn:hover{
    opacity: 0.7;
}

button img{
	height: 16px;
	width: 16px;
}
.input{
display: flex;
flex-direction:column;
gap:25px;
}
.input-field{
display: flex;
flex-direction:column;
position: relative;
height:76px;
}
.input-field label{
color: #b5b5b5;
font-size:14px;
position: absolute;
}
.input-field input{


background-color: #4b4b4b29;
border: 1px solid hsl(0deg 0% 100% / 7%);
border-radius: 10px;
position: relative;
top:28px;
color: #fff;
font-size:13px;
font-weight: 400;
letter-spacing: .02em;
line-height: 120%;
height:48px;
padding: 0 15px;
outline:none;
   
}
.checkbox{

}
.checkbox label{
color: #b5b5b5;
font-size:14px;

}
.login {
	background: #0f0f0f;
	padding: 15px 20px;
	width: 100%;
	text-align: center;
	font-size:14px;
	color:#fff;
	border-radius:10px;
	border:none;
	outline:none;
	cursor:pointer;
	user-select:none;
}
.login:hover{
opacity: 0.7;
}
.create{
display: flex;
justify-content: space-between;
gap:30px;
}
.signup label{
color:#555;
font-size:14px;
  
}
.signup a{
  color: #b5b5b5;
    font-size: 14px;
}
.signup a:hover{
	opacity: 0.7;
}
.form-input{
display: flex;
flex-direction: column;
gap:25px;
}
.input-field .input-area.danger {
	border: 1px solid #e65959;
}

.input-field label.danger {
	color: #e65959;
}

.input-field .required {
	color: #e65959;
	position: relative;
	bottom: -28px;
	font-size: 12px;
	line-height: 0.8rem;
}
.msg1{
    position: absolute;
    bottom: 48px;
    color: #e65959;
    font-size: 14px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
  	transition:opacity 0.3s;
  	
}

.main-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 1px solid #1d1b21;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: #111111;
     transition: top 0.3s;
}
.main-nav.scrolled{
	top:-100px;
}
.buttons .btn {
    display: inline;
    width: 20px;
    margin-top: 5px;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}
.box-wrapper{
   	display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.nav-toggle{
display: none;
}
aside{
height: 100vh;
}
.show-wrapper{
display:none;
}
.show-filter{
visibility:visible;
margin-top:0%;
}
.aside-close{
display:none;
}


@media(max-width:1440px){
.cards-section{
	    padding-left: 0px;
	    padding-right:20px;
}
.card-container{
	grid-template-columns: repeat(3, 250px);
	
}
.wall{
	gap:50px;
}
}
@media(max-width:1176px){
	.card-container{
	grid-template-columns: repeat(2, 250px);
	
}
}
@media screen and (max-width:991px) {
	.nav-toggle{
		display:block;
	}
	.nav-links{
	display: none;
	}
	.search {
	display: none;
	}
	.add{
	display:block;
	}
	.hover-link{
	margin-inline:5px;
	}
	.toggle-add-wrapper {
    display: flex;
    gap: 10px;
}
.nav-links ul{
	flex-direction: column;
	gap:15px;
	}
	.nav-links-active {
    display: block;
    position: absolute;
    padding-block: 20px;
    top: -650px;
    height: 40vh;
    width: 100vw;
    left:0;
    background: #1f1f1fe8;
    border-radius: 45px;
    transition: .3s;
    backdrop-filter: blur(13px);
}
.nav-links-active-top{
top: 120px;
}

}
@media screen and (max-width:890px) {
aside{
 visibility: hidden;
}
.wall{
justify-content: center;
}
.cards-section{
padding-right:0px;
}
.hide{
display:none;
}
.show-wrapper{
display:block;
cursor:pointer;
}
.show{
gap:10px;
}
.filters{
font-size:1rem;
}
.aside-close-wrapper{
	justify-content: space-between;
    width: 98%;
}
.aside-close{
display:block;
}
aside{
position: fixed;
z-index: 9999;
margin-top: 100%;
padding:0px;
transition: all 0.3s ease;
}
.aside-container{
width: 100vw;
background-color: #111111;
border-radius: 0px;
padding: 40px 16px;
padding-bottom:50vh;
}
.hr{
	border:none;
}
aside .hr::before{
width: 95%;
left: 0;
background-color: #ffffff9c;
}
}
@media screen and (max-width:648px){
.footer-bx{
	height: auto;
	}
	.footer .footer-bx .content{
	flex-direction: column-reverse;
	height: auto;
	gap:20px;
	}
	.box-wrapper{
	    flex-direction: column;
	    padding-top: 20px;
	    text-align: center;
	    gap:15px;
	}
	.footer-bx .content .box1{
	    text-align: center;
	    bottom: 0;
  	  	width:auto;
	}
	.footer-bx .box1 p{
	 text-align: center;
	}
	.footer .footer-bx .content .box1 .icon-container{
	justify-content: center;
	}
}
@media screen and (max-width:560px) {
.card-container .card .contentBox h2{
	font-size:0.9rem;
}
.card-container .card .contentBox .size h3, .card-container .card .contentBox .colour h3, .card-container .card .contentBox .price h3{
	font-size:0.65rem;
}
.card-container .card .contentBox .size input{
	width: 20px;
    height: 20px;
    line-height: 20px;
	font-size: 0.75rem;
}
.card-container .card .contentBox .colour span{
	width: 18px;
    height: 18px;
}
.card-container .card .contentBox .addcart{
	    padding: 6px 12px;
}
.card-container .card .contentBox .size, .card-container .card .contentBox .colour, .card-container .card .contentBox .price{
	    padding: 4px 6px;
	    font-size: 0.8rem;
}
.buttons{
	bottom:0;
}
.size .size-cross i{
    font-size: 20px;
    width: 20px;
    height: 20px;
}
.card-container .card .imgBox img{
	width:100%;
}
.card-container {
    grid-template-columns: repeat(2, 45vw);
    gap:10px;
}
.card-container .card{
	height: 380px;
	border-radius: 20px;
}
.quantity{
    top: 5px;
}
.stock{
	bottom:0;
}
.card-container .card .contentBox{
	height: 75px;
}
.card-container .card:hover .contentBox{
    height: 48%;
}
.details{
		top:56%;
	    width: 98vw;
	    padding-inline: 20px;
	    gap:10px;
	}
	.info h2{
	font-size:24px;
	}

}
@media(max-width:426px){
.card-container .card {
    height: 300px;
}
.card-container .card .contentBox .size input {
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 0.75rem;
}
.card-container .card .contentBox .colour span {
    width: 15px;
    height: 15px;
}
.card-container .card .contentBox .addcart {
    padding: 4px 10px;
    font-size: 0.8rem;
    margin-top: 0px;
}
.buttons .btn{
	font-size:1.4rem;
	margin-top:0px;
}
.size .size-cross i {
    font-size: 15px;
    width: 15px;
    height: 15px;
}
.quantity{
	width: 20px;
    height: 20px;
    font-size: 0.8rem;
}
.card-container .card:hover .contentBox{
    height: 54%;
}
.stock{
    font-size: 0.65rem;
}
		.popup {
  width: 100%;
  right: 0px;
  padding:10px;
}
.popup-btn-input{
    width: 140px;
}

}	
@media(max-width:345px){
.card-container .card {
    height: 280px;
}
.card-container .card:hover .contentBox {
    height: 55%;
}
.card-container .card .contentBox h2 {
    font-size: 0.7rem;
}
.card-container .card .contentBox .size h3, .card-container .card .contentBox .colour h3, .card-container .card .contentBox .price h3 {
    font-size: 0.55rem;
}
.card-container .card .contentBox .size .size-border{
    gap: 5px;
}
.card-container .card .contentBox .colour span{
    margin: 0 3px;
}
.card-container .card .contentBox .addcart {
   padding: 2px 6px;
   font-size: 0.65rem;
}
.quantity {
    width: 18px;
    height: 18px;
    font-size: 0.65rem;
}
.card-container .card{
border-radius: 15px;
}


}
.accordian .acc-content .orange, .accordian .acc-content .blue, .accordian .acc-content .yellow, .accordian .acc-content .green, .accordian .acc-content .red, .accordian .acc-content .purple {
    background-image: url(./resource/assests/clipart4137128.png);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid #fff;
}
